In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [4]:
df = pd.DataFrame(data=iris.data,columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
df['species']=iris.target

In [8]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [9]:
df['species']=df['species'].apply(lambda x :iris.target_names[x])

In [12]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [13]:
df[80:90]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
80,5.5,2.4,3.8,1.1,versicolor
81,5.5,2.4,3.7,1.0,versicolor
82,5.8,2.7,3.9,1.2,versicolor
83,6.0,2.7,5.1,1.6,versicolor
84,5.4,3.0,4.5,1.5,versicolor
85,6.0,3.4,4.5,1.6,versicolor
86,6.7,3.1,4.7,1.5,versicolor
87,6.3,2.3,4.4,1.3,versicolor
88,5.6,3.0,4.1,1.3,versicolor
89,5.5,2.5,4.0,1.3,versicolor

In [14]:
input= df.drop('species',axis=1)

In [16]:
target=df['species']

In [15]:
input.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [17]:
target.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(input, target, test_size=0.25)

In [26]:
X_train.shape

(112, 4)

In [27]:
X_test.shape

(38, 4)

In [ ]:
# Here we are using SVM to build the model with different values of Hyper-parameters

In [43]:
from sklearn.svm import SVC
model=SVC(C=30.0,
    kernel='rbf',
    gamma='auto')

In [44]:
model.fit(X_train,y_train)

SVC(C=30.0, gamma='auto')

In [45]:
model.score(X_test,y_test)

0.9210526315789473

In [ ]:
# Here we are using Cross Validation to get the model score for different iterations using different sets of train and tset sets

In [58]:
from sklearn.model_selection import cross_val_score
cross_val_score(SVC(C=10.0, kernel='rbf', gamma='auto'), input, target, cv=5,verbose=10)

[CV] START .....................................................................
[CV] END ................................ score: (test=0.967) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=0.967) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=0.967) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [59]:
cross_val_score(SVC(C=10.0, kernel='linear', gamma='auto'), input, target, cv=5,verbose=10)

[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=0.900) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=0.967) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

array([1.        , 1.        , 0.9       , 0.96666667, 1.        ])

In [60]:
cross_val_score(SVC(C=20.0, kernel='rbf', gamma='auto'), input, target, cv=5,verbose=10)

[CV] START .....................................................................
[CV] END ................................ score: (test=0.967) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=0.900) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=0.967) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

array([0.96666667, 1.        , 0.9       , 0.96666667, 1.        ])

In [61]:
cross_val_score(SVC(C=20.0, kernel='linear', gamma='auto'), input, target, cv=5,verbose=10)

[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=0.900) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=0.933) total time=   0.0s
[CV] START .....................................................................
[CV] END ................................ score: (test=1.000) total time=   0.0s

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

array([1.        , 1.        , 0.9       , 0.93333333, 1.        ])

In [62]:
# instead of doing the same thing again and again with different values of hyperparameters we can run a for loop as shown below

In [67]:
import numpy as np
kernels=['rbf','linear']
C=[1,10,20]
avg_scores={}
for kval in kernels:
    for cval in C:
        cv_scores = cross_val_score(SVC(C=cval, kernel=kval, gamma='auto'),input,target,cv=5)
        avg_scores[kval+'_'+str(cval)]=np.average(cv_scores)
        
avg_scores

{'rbf_1': 0.9800000000000001,
 'rbf_10': 0.9800000000000001,
 'rbf_20': 0.9666666666666668,
 'linear_1': 0.9800000000000001,
 'linear_10': 0.9733333333333334,
 'linear_20': 0.9666666666666666}

In [69]:
# The above metioned code seems to be little complex and so sklearn provides us another libraray "Grid Search CV" which does exactly the same thing'

In [72]:
from sklearn.model_selection import GridSearchCV

clf = GridSearchCV(SVC(gamma='auto'),{
    'C':[1,10,20],
    'kernel':['rbf','linear']
},cv=5, return_train_score=False,verbose=10)
clf.fit(input,target)
clf.cv_results_

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV 1/5; 1/6] START C=1, kernel=rbf.............................................
[CV 1/5; 1/6] END ..............C=1, kernel=rbf;, score=0.967 total time=   0.0s
[CV 2/5; 1/6] START C=1, kernel=rbf.............................................
[CV 2/5; 1/6] END ..............C=1, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5; 1/6] START C=1, kernel=rbf.............................................
[CV 3/5; 1/6] END ..............C=1, kernel=rbf;, score=0.967 total time=   0.0s
[CV 4/5; 1/6] START C=1, kernel=rbf.............................................
[CV 4/5; 1/6] END ..............C=1, kernel=rbf;, score=0.967 total time=   0.0s
[CV 5/5; 1/6] START C=1, kernel=rbf.............................................
[CV 5/5; 1/6] END ..............C=1, kernel=rbf;, score=1.000 total time=   0.0s
[CV 1/5; 2/6] START C=1, kernel=linear..........................................
[CV 1/5; 2/6] END ...........C=1, kernel=linear;, score=0.967 total time=   0.0s
[CV 2/5; 2/6] START C=1, kernel=linear..........................................
[CV 2/5; 2/6] END ...........C=1, kernel=linear;, score=1.000 total time=   0.0s
[CV 3/5; 2/6] START C=1, kernel=linear..........................................
[CV 3/5; 2/6] END ...........C=1, kernel=linear;, score=0.967 total time=   0.0s
[CV 4/5; 2/6] START C=1, kernel=linear..........................................
[CV 4/5; 2/6] END ...........C=1, kernel=linear;, score=0.967 total time=   0.0s
[CV 5/5; 2/6] START C=1, kernel=linear..........................................
[CV 5/5; 2/6] END ...........C=1, kernel=linear;, score=1.000 total time=   0.0s
[CV 1/5; 3/6] START C=10, kernel=rbf............................................
[CV 1/5; 3/6] END .............C=10, kernel=rbf;, score=0.967 total time=   0.0s
[CV 2/5; 3/6] START C=10, kernel=rbf............................................
[CV 2/5; 3/6] END .............C=10, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5; 3/6] START C=10, kernel=rbf............................................
[CV 3/5; 3/6] END .............C=10, kernel=rbf;, score=0.967 total time=   0.0s
[CV 4/5; 3/6] START C=10, kernel=rbf............................................
[CV 4/5; 3/6] END .............C=10, kernel=rbf;, score=0.967 total time=   0.0s
[CV 5/5; 3/6] START C=10, kernel=rbf............................................
[CV 5/5; 3/6] END .............C=10, kernel=rbf;, score=1.000 total time=   0.0s
[CV 1/5; 4/6] START C=10, kernel=linear.........................................
[CV 1/5; 4/6] END ..........C=10, kernel=linear;, score=1.000 total time=   0.0s
[CV 2/5; 4/6] START C=10, kernel=linear.........................................
[CV 2/5; 4/6] END ..........C=10, kernel=linear;, score=1.000 total time=   0.0s
[CV 3/5; 4/6] START C=10, kernel=linear.........................................
[CV 3/5; 4/6] END ..........C=10, kernel=linear;, score=0.900 total time=   0.0s
[CV 4/5; 4/6] START C=10, kernel=linear.........................................
[CV 4/5; 4/6] END ..........C=10, kernel=linear;, score=0.967 total time=   0.0s
[CV 5/5; 4/6] START C=10, kernel=linear.........................................
[CV 5/5; 4/6] END ..........C=10, kernel=linear;, score=1.000 total time=   0.0s
[CV 1/5; 5/6] START C=20, kernel=rbf............................................
[CV 1/5; 5/6] END .............C=20, kernel=rbf;, score=0.967 total time=   0.0s
[CV 2/5; 5/6] START C=20, kernel=rbf............................................
[CV 2/5; 5/6] END .............C=20, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5; 5/6] START C=20, kernel=rbf............................................
[CV 3/5; 5/6] END .............C=20, kernel=rbf;, score=0.900 total time=   0.0s
[CV 4/5; 5/6] START C=20, kernel=rbf............................................
[CV 4/5; 5/6] END .............C=20, kernel=rbf;, score=0.967 total time=   0.0s
[CV 5/5; 5/6] START C=20, kernel=rbf............................................
[CV 5/5; 5/6] END .............C=20, kernel=rbf;, score=1.000 total time=   0.0s
[CV 1/5; 6/6] START C=20, kernel=linear.........................................
[CV 1/5; 6/6] END ..........C=20, kernel=linear;, score=1.000 total time=   0.0s
[CV 2/5; 6/6] START C=20, kernel=linear.........................................
[CV 2/5; 6/6] END ..........C=20, kernel=linear;, score=1.000 total time=   0.0s
[CV 3/5; 6/6] START C=20, kernel=linear.........................................
[CV 3/5; 6/6] END ..........C=20, kernel=linear;, score=0.900 total time=   0.0s
[CV 4/5; 6/6] START C=20, kernel=linear.........................................
[CV 4/5; 6/6] END ..........C=20, kernel=linear;, score=0.933 total time=   0.0s
[CV 5/5; 6/6] START C=20, kernel=linear.........................................
[CV 5/5; 6/6] END ..........C=20, kernel=linear;, score=1.000 total time=   0.0s

{'mean_fit_time': array([0.00399737, 0.00500526, 0.00528617, 0.00478649, 0.00323405,
        0.00359607]),
 'std_fit_time': array([9.23930663e-04, 7.68975284e-05, 4.01865004e-04, 4.41018952e-04,
        1.19082783e-03, 1.95485636e-03]),
 'mean_score_time': array([0.00243058, 0.00240569, 0.00290456, 0.00293164, 0.00179753,
        0.00180092]),
 'std_score_time': array([0.00082302, 0.0005898 , 0.00066838, 0.00046678, 0.00097737,
        0.00074894]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [74]:
# importing above results into a dataframe
df_gridsearch=pd.DataFrame(clf.cv_results_)
df_gridsearch

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003997,0.000924,0.002431,0.000823,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.005005,0.000077,0.002406,0.000590,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.005286,0.000402,0.002905,0.000668,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.004786,0.000441,0.002932,0.000467,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.003234,0.001191,0.001798,0.000977,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.003596,0.001955,0.001801,0.000749,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

In [76]:
df_gridsearch[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667
5      20       linear         0.966667

In [77]:
dir(clf)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_feature_names',
 '_check_n_features',
 '_check_refit_for_multimetric',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_select_best_index',
 '_validate_data',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'feature_names_in_',
 'fit',
 'get_params',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'score_samples',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [78]:
clf.best_score_

0.9800000000000001

In [79]:
clf.best_estimator_

SVC(C=1, gamma='auto')

In [80]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

When we have millions of data and a no of parameters in a specific model which can be tuned. In that case the computational power of the machine will be increased by a large amount. In that case we use randomized search CV which does a random selection of grid parameters value to do the hyperparameter tuning

In [87]:
from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(SVC(gamma='auto'),
                   {
                       'C':[1,10,20],
                       'kernel':['rbf','linear']
                   },
                   cv=5,
                   return_train_score=False,
                   n_iter=2
                  )

rs.fit(input,target)

RandomizedSearchCV(cv=5, estimator=SVC(gamma='auto'), n_iter=2,
                   param_distributions={'C': [1, 10, 20],
                                        'kernel': ['rbf', 'linear']})

In [88]:
rs.cv_results_

{'mean_fit_time': array([0.00443625, 0.00379801]),
 'std_fit_time': array([0.00167888, 0.00081392]),
 'mean_score_time': array([0.00233312, 0.00259748]),
 'std_score_time': array([0.00057285, 0.00049127]),
 'param_kernel': masked_array(data=['rbf', 'linear'],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'param_C': masked_array(data=[1, 20],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'params': [{'kernel': 'rbf', 'C': 1}, {'kernel': 'linear', 'C': 20}],
 'split0_test_score': array([0.96666667, 1.        ]),
 'split1_test_score': array([1., 1.]),
 'split2_test_score': array([0.96666667, 0.9       ]),
 'split3_test_score': array([0.96666667, 0.93333333]),
 'split4_test_score': array([1., 1.]),
 'mean_test_score': array([0.98      , 0.96666667]),
 'std_test_score': array([0.01632993, 0.0421637 ]),
 'rank_test_score': array([1, 2])}

In [89]:
rs_df = pd.DataFrame(rs.cv_results_)
rs_df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kernel,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004436,0.001679,0.002333,0.000573,rbf,1,"{'kernel': 'rbf', 'C': 1}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.003798,0.000814,0.002597,0.000491,linear,20,"{'kernel': 'linear', 'C': 20}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,2

In [90]:
rs_df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1      20       linear         0.966667

 Now we will see how we can choose the best model for our problem

In [92]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [95]:
model_params = {
    
    'svm': {
        'model':SVC(gamma='auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'random_forest': {
        'model' : RandomForestClassifier(),
        'params' : {
            'n_estimators':[1,5,10]
        }
    },
    'logistic_regression' : {
        'model' : LogisticRegression(solver='liblinear',multi_class='auto'),
        'params' : {
            'C':[1,5,10]
        }
    }
}

In [98]:
scores=[]

for model_name, mp in model_params.items():
    clf=GridSearchCV(mp['model'],mp['params'], cv=5, return_train_score=False)
    clf.fit(input,target)
    scores.append({
        'model':model_name,
        'best_scores':clf.best_score_,
        'best_params':clf.best_params_
    })
scores

[{'model': 'svm',
  'best_scores': 0.9800000000000001,
  'best_params': {'C': 1, 'kernel': 'rbf'}},
 {'model': 'random_forest',
  'best_scores': 0.9533333333333334,
  'best_params': {'n_estimators': 5}},
 {'model': 'logistic_regression',
  'best_scores': 0.9666666666666668,
  'best_params': {'C': 5}}]

In [99]:
pd.DataFrame(scores,columns=['model','best_scores','best_params'])

                 model  best_scores                best_params
0                  svm     0.980000  {'C': 1, 'kernel': 'rbf'}
1        random_forest     0.953333        {'n_estimators': 5}
2  logistic_regression     0.966667                   {'C': 5}